[submodule "linux"]
	path = linux
	url = https://github.com/jmattshim/linux_for_flax.git
[submodule "ForestDB-Bench"]
	path = bench
	url = https://github.com/jmattshim/ForestDB-Bench.git
[submodule "RocksDB"]
	path = rocksdb
	url = https://github.com/jmattshim/RocksDB.git
